*{
    margin: 0;
    padding: 0;
}

.btn{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    padding: 12px 16px;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    color: white;
    background: linear-gradient(75deg,#F7E93F, #FB09B4, #9100F8);
    cursor: pointer;
}

.btn i{
    margin-left: 4px;
}


.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.container{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}

.navigation-bar{
    background-color: #1A0B2E;
}

.nav-logo h1{
    font-size: 46px;
    font-weight: bold;
    color: white;
}

.colored-font{
    font-size: 46px;
    font-weight: bolder;
    background: linear-gradient(75deg,#F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}

.nav-container{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    color: white;
}

.nav-container ul{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}

.nav-container ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.btn-container{
    align-self: center;
}

.hero-section{
    background-image:url("./assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
}

.hero-container{
    text-align: center;
    align-self: center;
}

.hero-container .hero-info h1{
    font-size: 60px;
    font-weight: bolder;
    color: white;
    padding-bottom: 8px;
}

.hero-container .hero-info p{
    font-size: 16px;
    padding-bottom: 24px;
    color: #FFFFFF;
}

.btn-container{
    align-items: center;
    align-self: center;
}

.btn-container{
    display: flex;
    gap: 8px;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.btn img{
    margin-right: 8px;
}

.btn-container .btn{
    padding: 12px 20px;
    display: flex;
    align-items: center;
}

.btn-green{
    background-color: transparent;
    border: 2px solid #00FF88;
    color: #00FF88;
    padding: 12px 16px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.btn-green img{
    margin-right: 8px;
}

.hero-info{
    margin-top: 40px
}

.hero-img{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.hero-main-img{
    width: 350px;
    height: 350px;
    background-image: url("./assets/hero-circle.png");
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.hero-img::after{
    content: "NEW";
    background-color: #00FF88;
    font-size: 18px;
    padding: 8px 16px;
    font-weight: 600;
    border-radius: 50px;
    margin-top: -250px;
    margin-left: -80px;
    box-shadow: 1px 1px 20px #00FF88;
}

.burger-menu-container{
    visibility: hidden;
}

@media (max-width: 576px){
    .burger-menu-container{
        margin: auto 0;
        visibility: visible;
    }

    .burger-menu-container img{
        width: 24px;
    }
    .nav-container ul ,.nav-container .btn-container{
        display: none;
    }
    .nav-logo h1{
        font-size: 24px;
        font-weight: bold;
        color: white;
    }

    
    .colored-font{
        font-size: 24px;
    }

    .container{
        max-width: 440px;
    }

    .hero-section{
        padding: 70px 0;
    }

    .hero-container .hero-info h1{
        font-size: 40px;
    }

    .hero-main-img img{
        width: 80px;
    }

    .hero-main-img{
        width: 280px;
        height: 280px;
        background-size: cover;
    }
}