*{
    margin: 0;
    padding: 0;
}

.btn{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    padding: 12px 16px;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    color: white;
    background: linear-gradient(75deg,#F7E93F, #FB09B4, #9100F8);
    cursor: pointer;
}

.btn i{
    margin-left: 4px;
}


.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.container{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}

.navigation-bar{
    background-color: #1A0B2E;
}

.nav-logo h1{
    font-size: 46px;
    font-weight: bold;
    color: white;
}

.colored-font{
    font-size: 46px;
    font-weight: bolder;
    background: linear-gradient(75deg,#F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}

.nav-container{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    color: white;
}

.nav-container ul{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}

.nav-container ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.btn-container{
    align-self: center;
}

.hero-section{
    background-image:url("./assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
}

.hero-container{
    text-align: center;
    align-self: center;
}

.hero-container .hero-info h1{
    font-size: 60px;
    font-weight: bolder;
    color: white;
    padding-bottom: 8px;
}

.hero-container .hero-info p{
    font-size: 16px;
    padding-bottom: 24px;
    color: #ffffffc7;
}

.btn-container{
    align-items: center;
    align-self: center;
}

.btn-container{
    display: flex;
    gap: 8px;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.btn img{
    margin-right: 8px;
}

.btn-container .btn{
    padding: 12px 20px;
    display: flex;
    align-items: center;
}

.btn-green{
    background-color: transparent;
    border: 2px solid #00FF88;
    color: #00FF88;
    padding: 12px 16px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.btn-green img{
    margin-right: 8px;
}

.hero-info{
    margin-top: 40px
}

.hero-img{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.hero-main-img{
    width: 350px;
    height: 350px;
    background-image: url("./assets/hero-circle.png");
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.hero-img::after{
    content: "NEW";
    background-color: #00FF88;
    font-size: 18px;
    padding: 8px 16px;
    font-weight: 600;
    border-radius: 50px;
    margin-top: -250px;
    margin-left: -80px;
    box-shadow: 1px 1px 20px #00FF88;
}

.burger-menu-container{
    visibility: hidden;
    display: none;
}

.about-section{
    background-color: #1A0B2E;
    padding-top: 50px;
    padding-bottom: 120px;
}

.titles{
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.about-info-container p{
    font-size: 16px;
    color: #ffffffc7;
    line-height: 25px;
    margin-top: 16px;
    text-align: center;
}

.about-info-container{
    padding-bottom: 80px;
}

.numbers-containder{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.numbers-containder h3{
    font-size: 48px;
    color: #00FF88;
    padding-bottom: 16px;
    text-align: center;
}

.numbers-containder p{
    font-size: 16px;
    color: #ffffffc7;
    text-transform: uppercase;
}

.line{
    color: #ff00002d !important;
}

.why{
    background-color: #230E3D;
    padding-top: 120px;
    padding-bottom: 120px;
}

.why h1{
    margin-bottom: 40px;
}

.card h4{
    font-size: 24px;
    font-weight: bold;
    padding: 16px 0;
    color: #FFFFFF;
}

.card p{
    color: #ffffffc7;
    font-size: 16px;
}

.card{
    padding: 40px;
    background-color: #35116591;
    border-radius: 40px;
}

.cards-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#side{
    grid-row: span 2;
}

#side-horizontally{
    grid-column: span 2;
}

#episode-section{
    background-color: #1A0B2E;
}

#episode-section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.yt-card{
    width: 380px;
    height: 440px;
    background-color: #250d449d;
    color: white;
    border-radius: 40px;
    overflow: hidden;
    padding-bottom: 24px;
}

.yt-card-info{
    padding: 24px;
}

.yt-card-info .green-text{
    color: #00FF88;
    display: flex;
    align-items: center;
    gap: 6px;
}


.yt-card h2{
    font-size: 24px;
    font-weight: bold;
}


.yt-card p{
    font-size: 16px;
    color: #ffffffc7;
    padding: 12px 0;
    line-height: 25px;
}

.yt-card-container{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
}

.host-container{
    background-color: #250d449d;
    padding: 40px;
    margin-top: 40px;
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}


.host-img{
    padding-right: 24px;
}

.host-info h2{
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
}

.host-info p{
    font-size: 16px;
    color: #ffffffc7;
    line-height: 25px;
    margin-bottom: 16px;
}

.host-icon{
    display: flex;
    gap: 8px;
}

.host-icon-img{
    border: 1px solid #533C72;
    border-radius: 70px;
    width: 15px;
    height: 15px;
    padding: 13px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

footer{
    background-image: url("./assets/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.footer-icon-container{
    display: flex;
    justify-content: space-between;
    width: 544px;
    align-self: center;
    margin: 0 auto;
    gap: 40px;
}

.footer-icon-info{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    color: #ffffffc7;
    padding: 32px 0;
    cursor: pointer;
}

.footer-section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.copywrite-text p{
    color: #ffffffc7;
}

.footer-logo h1{
    font-size: 60px;
}

.footer-logo .colored-font{
    font-size: 60px;
}

@media (max-width: 576px){
    .burger-menu-container{
        margin: auto 0;
        visibility: visible;
        display: grid;
    }

    .burger-menu-container img{
        width: 24px;
    }
    .nav-container ul ,.nav-container .btn-container{
        display: none;
    }
    .nav-logo h1{
        font-size: 24px;
        font-weight: bold;
        color: white;
    }

    
    .colored-font{
        font-size: 24px;
    }

    .container{
        max-width: 440px;
    }

    .hero-section{
        padding: 70px 0;
    }

    .hero-container .hero-info h1{
        font-size: 40px;
    }

    .hero-main-img img{
        width: 80px;
    }

    .hero-main-img{
        width: 280px;
        height: 280px;
        background-size: cover;
    }

    .titles{
    font-size: 32px;
    }

    .numbers-containder{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .about-info-container{
        padding-bottom: 40px;
    }

    .numbers-containder{
        padding-top: 40px;
    }

    .container{
        width: 95%;
        max-width: 440px;
    }

    .numbers-info{
        padding-bottom: 40px;
    }

    .cards-container{
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    #side{
        grid-row: span 1;
    }

    #side-horizontally{
        grid-column: span 1;
    }

    .why{
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .yt-card-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
        margin: auto;
        gap: 16px;
    }

    #episode-section{
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .host-container{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .host-icon{
        justify-content: center;
    }


    .footer-icon-container{
        display: flex;
        flex-wrap: wrap;
        width: 255px;
        gap: 10px;
        justify-content: center;
        padding: 24px;
    }

    .footer-icon-info{
        padding: 0;
    }

    .footer-logo h1{
        font-size: 60px;
    }

    .footer-logo .colored-font{
        font-size: 60px;
    }
}